html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.App {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 1280px;  /* o el ancho mínimo de tu layout ideal */
  min-height: 585px;  /* ajusta si tu layout es más alto */
  background-image: url('./logo3.png');
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-hit-bottom,
.App-reset-bottom,
.App-stand-bottom,
.App-result-text,
.App-card-user,
.App-card-dealer {
  position: absolute;
}

.App-hit-bottom {
  top: 357px;
  left: 25%;
  transform: translateX(70px);
  width: 100px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.App-reset-bottom {
  top: 380px;
  left: 28%;
  transform: translateX(70px);
  width: 100px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.App-stand-bottom {
  top: 360px;
  left: 50%;
  transform: translateX(-170px);
  width: 100px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.App-card-user {
  top: 380px;
  left: 50%;
  transform: translateX(-50%);
  height: 120px;
}

.App-cards-user.fade-out {
  opacity: 0;
}

.App-result-text {
  top: 220px;
  left: 44%;
  height: 150px;
}

.App-card-dealer {
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  height: 120px;
}

.App-link {
  color: #198ac3bd;
}

.App-start-button {
  display: flex;
  padding: 12px 24px;
  font-size: 18px;
  background-color: #2e8b57;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 170px;
}

.App-start-button:hover {
  background-color: #276644;
}

.white-box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 110px;
  margin-top: 60px;
}

.white-box {
  width: 120px;
  height: 170px;
  border: 5px solid white;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 12px;
  flex-wrap: wrap;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-welcome-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6); /* fondo semitransparente opcional */
  padding: 40px 50px;
  border-radius: 15px;
  color: white;
}

.App-welcome-screen h1 {
  font-size: 48px;
  margin-bottom: 30px;
  color: white;
}