
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* o scroll */
}

body {
  min-width: 500px;   /* opcional, si quieres un ancho mínimo */
  min-height: 200px;  /* opcional */
}